:root{
    --gray: #f7edf0;
    --red: #d61525;
    --lightGray: #aaaaaf;
    --darkGray: #403f4c;
    --darkestGray:#25242e;
    --lightRed: #e84855;
    --yellow: #f9dc5c;
}
.vehicles{
    background-color: #e3e1e1;
    padding: 10% 0 10% 0;
}
.vehicles h2{
    text-align: center;
    padding: 10% 0 5% 0;
    text-transform: uppercase;
}
.vehicle{
    position: relative;
    margin: 5% 0;
    padding: 0;
}
.vehicle .row{
    margin: 5% 0;
}
.vehicleNameOverlay{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    top:0;
    left:0;
    background-color: var(--red);
    opacity: 0;
}

#vehicleNameGVC,#vehicleNameGVM{
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    pointer-events: none;
    font-weight: 750;
    font-size: 75px;
    opacity: 0;
}
.vehicleBasicInfo{
    padding: 5% 0;
    width: 35%;
    margin: 0 auto;
    text-align: left;
}
.vehicleName{
    width: 100%;
    color: var(--red);
    text-align: center;
    padding: 5%;
    font-weight: 550;
    font-size: 45px;
}

.vehicleList .type{
    font-weight: 550;
}
.vehicleList ul{
    list-style-type: none;
}
.vehicleImage{
    width: 100%;
    padding: 0;
}
@media(max-width: 768px) {
    #vehicleNameGVC,#vehicleNameGVM{
        font-size: 40px;
    }
    .vehicles{
        padding: 25% 0 10% 0;
    }
    .vehicleBasicInfo{
        width: 100%;
    }
}